.testing {
  &__title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 800;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px 0;
    height: 528px;
    margin-bottom: 20px;
    padding: 40px;
    background: #f7f7f7;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  &__question {
    font-size: 24px;
    font-weight: 700;
  }
  &__answer {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0 20px;
    &-checkbox {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid black;
      appearance: none;
      background-color: transparent;
      cursor: pointer;
      transition:
        background-color 0.2s,
        border 0.2s;
      -webkit-transition:
        background-color 0.2s,
        border 0.2s;
      -moz-transition:
        background-color 0.2s,
        border 0.2s;
      -ms-transition:
        background-color 0.2s,
        border 0.2s;
      -o-transition:
        background-color 0.2s,
        border 0.2s;
      &:checked {
        background-color: #3300ff;
        border: 2px solid #3300ff;
      }
    }
    &-text {
      max-width: calc(100% - 40px);
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__progress {
    &-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0px 1px 3px;
    }
    &-start,
    &-end,
    &-counter {
      font-size: 16px;
      font-weight: 700;
    }
    &-bar,
    &-fill {
      height: 12px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    }
    &-bar {
      background-color: #f7f7f7;
    }
    &-fill {
      position: relative;
      background-color: #3300ff;
    }
    &-counter {
      position: absolute;
      right: 0;
      top: 15px;
    }
  }
}
